<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.SerarchNearBy"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">
        <activity android:name=".MyActivity"
                  android:label="搜周边">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <activity android:name=".SecondActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>
            <activity android:name=".SettingActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>

            <activity android:name=".ThirdActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>

        </activity>

        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote">
        </service>

        <!--50BA547B82CFD3EE313D150E0271C9D4C104CB1E-->
        <meta-data android:name="com.baidu.lbsapi.API_KEY"
                   android:value="mnKKgYBl2ShUR0eGLt28y2eQ"/>
    </application>
    <!--使用网络功能所需权限  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS">
    </uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE">
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>

    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 允许应用读取低级别的系统日志文件-->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <supports-screens android:largeScreens="true"
                      android:normalScreens="true"
                      android:smallScreens="true"
                      android:resizeable="true"
                      android:anyDensity="true"/>

</manifest> 
